<?xml version='1.0' encoding='utf-8'?>
<widget id="io.church.onebody" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OneBody</name>
    <description>
        Free church directory and social network.
    </description>
    <author email="contact@church.io" href="https://church.io">
        Church.IO Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" />
    <engine name="browser" spec="^5.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="https://github.com/katzer/cordova-plugin-local-notifications" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
</widget>
